<%= form_tag('/instrument') do |f| %>
    <label for="instrument">Enter a instrument</label>
    <input type="text" name="instrument" value="">
    <input type="submit" name="submit" value="submit">
<% end %>
